/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/*
 BARVY
 pozadi     #f5f5f5
 Jedeme retro cernobile, dnes barvy nepotrebujeme.
*/


body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.6;
}

p{
    padding: 0 30px;
}

h2{
    position: relative;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
    color: black;
}

h2::after{
    content:" ";
    display: block;
    width: 100px;
    height: 5px;
    background-color: rgb(146, 146, 234);
    position: absolute;
    left: 0;
    top: 80px;
}
.last{
    padding-bottom: 30px;
}
.first{
    padding-top: 30px;
}

/* HLAVICKA */

header{
    background-image: url(images/hlavicka.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: white;
}

.titulek {
    font-family: 'Raleway', serif;
    padding: 20px;
    margin: 0;
}

.perex{
    position: relative;
    padding: 0 20px;
    margin: 0;
}

.perex::after{
    content:" ";
    display: block;
    width: 100px;
    height: 3px;
    background-color: white;
    margin: 25px auto;
}

.autor{
    padding-bottom: 30px;
    margin: 0;
    font-style: italic;
    text-align: center;
}

/* MENU */

.menu{
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
    color: grey;
    padding-left: 0;
    padding: 20px 0;
    cursor: pointer;
    font-size: small;
}

li{
    border-bottom: solid;
    border-width: 1px;
    margin: 0 40px;
    color: gainsboro;
    padding: 10px;
    text-transform: uppercase;
}
li a{
    text-decoration: none;
}

li:hover{
    background-color: rgb(236, 227, 227);
}

a{
    color: gray;
}

/* OBSAH */

.popisek,
.oznaceni{
    text-align: center;
    color: gray;
    margin-top: 0;
    padding: 0;
    font-size: small;
}

/* FOTOGALERIE */

img{
   width: 100%;
   height: auto;
   padding: 0;
   margin: 0;
}

.oznaceni{
    font-weight: bold;
}

.galerie .popisek-copy{
    font-weight: normal;
}

/* PATICKA */

footer{
    border-top: none;
    background: linear-gradient(lightgrey, white);
    font-family: 'Times New Roman', Times, serif;
    color: rgb(142, 138, 138);
    padding: 10px;
}

@media (min-width: 500px){
   
    body{
        width: 100%;
    }
    
    .menu{
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 30px;
    }

    li{
        border: solid;
        border-width: 1px;
        border-spacing: 0;
        flex: 1 1 100%;
        padding: 5px;
        margin: 0;
    }
    
    img{
        width: 100%;
        height: auto;
        padding: 0;
        padding-top: 20px;
    }

    .galerie img{
        padding-top: 0;
    }

    .pravydolni{
        position: relative;
    }

    .popisek{
        position: absolute;
        right: 0;
        bottom: 0;
        color: white;
        padding-right: 10px;
    }

    .popisek a{
        color: white;
    }

    .galerie{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .foto{
        flex: 0 1 50%;
        position: relative;
        overflow: hidden;
    }

    .foto img{
        width: 100%;
        display: block;
    }
    .oznaceni{
        position: absolute;
        top: 100%;
        left: 0;
        background-color: rgb(90, 88, 88);
        color: white;
        width: 100%;
        text-align: center;
        transition: transform 0.3s;
    }

    .popisek-copy a{
        color: white;
    }

    .foto:hover .oznaceni{
        transform: translateY(-100%);
    }

    .foto:hover img{
        transform: scale(1.2);
    }
}

@media screen and (min-width: 1000px){

    .first{
        padding-top: 0;
    }

    header{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        height: 600px;
        width: auto;
    }

    .titulek{
        font-size: 100px;
    }

    .perex{
        padding: 0 300px;
    }

    .autor{
        padding-top: 0;
    }

    .flexuvod{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .menu{
        display: flex;
        flex-direction: column;
        margin: 40px;
        padding: 0 30px;
        text-align: left;
        font-size: small;
        height: 10px;
        margin-right: 0;
    }

    li{
        padding: 7px;
        flex: 1 1 100%;
        border: none;
        border-bottom: solid;
        border-width: 1px;
        width: 180px;
    }

    .uvod{
        padding: 20px;
    }
    
    .hlavnitext{
        display: flex;
        flex-grow: 1;
        align-items: flex-start;
        flex-direction: column;
        color: gray;
        background-color: white;
        margin: 0 auto;
        margin-top: -80px;
        width: 960px;
        box-shadow: 10px 0px 19px -5px rgba(0,0,0,0.1);
    }

    .covidet{
        padding-left: 300px;
        padding-right: 50px;
    }

    .pravastrana{
        padding-left: 300px;
        padding-top: 50px;
        padding-right: 50px;
    }

    .galerie{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .galerie .foto{
        flex: 1 1 calc(100%/3);
        position: relative;
        overflow: hidden;
    }

    .foto img{
        width: 100%;
        display: block;
    }

    .oznaceni{
        position: absolute;
        top: 100%;
        left: 0;
        background-color: rgb(90, 88, 88);
        color: white;
        width: 100%;
        text-align: center;
        transition: transform 0.3s;
    }

    .popisek-copy a{
        color: white;
    }

    .foto:hover .oznaceni{
        transform: translateY(-100%);
    }

    .foto:hover img{
        transform: scale(1.2);
    }

    footer{
        display: flex;
        flex-direction: column;
        width: 100%;
        background: none;
        background-color: #f5f5f5;
        width: 960px;
        margin: 0 auto;
        padding: 0;
    }

    .paticka{
        padding-left: 0;
    }
}









